@tailwind base;
@tailwind utilities;
@tailwind components;

.blabla {
    color:red;
}
/*.headroom {*/
/*    will-change: transform;*/
/*    transition: transform 1000ms linear;*/
/*}*/
/*.headroom--pinned {*/
/*    transform: translateY(0%);*/
/*    background-color:#2a4365;*/
/*}*/
/*.headroom--unpinned {*/
/*    transform: translateY(-100%);*/
/*}*/

.headroom {
    top: 0;
    left: 0;
    right: 0;
    zIndex: 1;
    background-color:transparent;
}
.headroom--unfixed {
    position: relative;

    transform: translateY(0);

}
.headroom--scrolled {
    transition: transform 200ms ease-in-out;


}
.headroom--unpinned {
    position: fixed;
    transform: translateY(-100%);


}
.headroom--pinned {
    position: fixed;
    transform: translateY(0%);
}

  @media (max-width: 768px) {

    .headroom--unpinned {
        position: fixed;
/*        
        height:100%;
        transform: translateY(0);
*/    
}
.headroom--scrolled {
position: fixed;
top:0px;


}
    .headroom--pinned {
        position: fixed;

        
/*        
        transform: translateY(0);
        */

        

    }



  }








